body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #57E38A;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #55ca80;
}

.main {
    padding: 10px;
}

#about-main p {
    text-align:center;
    background-color: beige;
}

#about-main h1 {
    text-align: center;
}

footer {
    background-color: #57E38A;
    color: #111;
    text-align: center;
    margin-top: auto;
    padding: 1em 0;
}